.card {
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px #1B1523;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card:active {
  width: 90%;
  height: 90%;
}
.card img {
  border-radius: .375rem;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.card .card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card .card-face.card-back-face {
  transform: rotateY(180deg);
}
.card.is-flipped {
  transform: rotateY(180deg);
  box-shadow: -4px 4px hsl(198, 72%, 20%);
}
.card.is-inactive {
  opacity: 13%;
  cursor: auto;
}
.card.is-inactive:active {
  width: 100%;
  height: 100%;
}