.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #13005A;
    border-radius: 6px;
  }
  